@using MiApp.UTN.Modelos

@model IEnumerable<Cargo>


<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Cargos</h2>
    <a asp-action="Create" class="btn btn-primary">Agregar</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in Model)
        {
            <tr>
                <td>@cargo.Id</td>
                <td>@cargo.Name</td>
                <td>@cargo.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cargo.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@cargo.Id" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@cargo.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>